<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
    <div>
      <a href="/">Home</a>
    </div>
    <% if (locals.user && !locals.user.member) { %>
      <div>
        <a href="/user/membership">Become a member</a>
      </div>
    <% } %>
    <% if (locals.user && locals.user.member && !locals.user.admin) { %>
      <div>
        <a href="/user/admin">Add admin rights</a>
      </div>
    <% } %>
    <% if (!locals.user) { %>
      <div>
        <a href="/user/new-user">Sign up</a>
      </div>
      <div>
        <a href="/log-in">Log in</a>
      </div>
    <% } %>
    <% if (locals.user) { %>
      <div>
        <a href="/new-message">Add message</a>
      </div>
      <div>
        <a href="/log-out">Log Out</a>
      </div>
    <% } %>
  </nav>
</body>
</html>