<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/confirmPword.js" defer></script>
  <title><%= title %></title>
</head>
<body>
  <%- include("./navbar") %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <form action="/user/new-user" method="POST">
      <div>
        <label for="firstName">Name *</label>
        <input
          id="firstName"
          name="firstName"
          placeholder="Gerald"
          type="text"
          autocomplete="off"
          minlength="3"
          maxlength="30"
          title="Name must be between 3 and 30 characters."
          required
          autofocus
        />
      </div>
      <div>
        <label for="lastName">Surname *</label>
        <input
          id="lastName"
          name="lastName"
          placeholder="Durrell"
          type="text"
          autocomplete="off"
          minlength="3"
          maxlength="30"
          title="Surname must be between 3 and 30 characters."
          required
        />
      </div>
      <div>
        <label for="username">Username *</label>
        <input
          id="username"
          name="username"
          placeholder="gerald.durrell@durrell.org"
          type="email"
          autocomplete="off"
          minlength="3"
          maxlength="60"
          title="Email must be between 3 and 60 characters."
          required
        />
      </div>
      <div>
        <label for="password">Password *</label>
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="off"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,24}$"
          title="Password must contain one number, one lowercase letter, one uppercase letter, one special character, no spaces, and be more than 8 characters long."
          required
        />
      </div>
      <div>
        <label for="confirmPassword">Confirm password *</label>
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          autocomplete="off"
          pattern="^(?=.*\d])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,24}$"
          required
        />
      </div>
      <div class="button">
        <button type="submit">Sign up</button>
      </div>
    </form>
  </main>
</body>
</html>