<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <form action="/newUser" method="POST">
      <div>
        <label for="firstName">Name *</label>
        <input id="firstName" name="firstName" placeholder="Gerald" type="text">
      </div>
      <div>
        <label for="lastName">Surname *</label>
        <input id="lastName" name="lastName" placeholder="Durrell" type="text">
      </div>
      <div>
        <label for="username">Username *</label>
        <input id="username" name="username" placeholder="gerald.durrell@durrell.org" type="text">
      </div>
      <div>
        <label for="password">Password *</label>
        <input id="password" name="password" type="text">
      </div>
      <div>
        <label for="confirmPassword">Confirm password *</label>
        <input id="confirmPassword" name="confirmPassword" type="text">
      </div>
      <div>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </main>
</body>
</html>